<app-home>
  <mat-tab-group>
    <mat-tab label="Liste des apprenants">
      <div class="t1">
        <h1>Liste des Apprenants</h1>
    
    <table id="customers">
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>E-mail</th>
        <th>Téléphone</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let apprenant of apprenantDetails">
        <td>{{ apprenant.nom }}</td>
        <td>{{ apprenant.prenom }}</td>
        <td>{{ apprenant.email }}</td>
        <td>{{ apprenant.telephone }}</td>
        <td><button type="button" data-toggle="modal" data-target="#exampleModal" (click)="edit(apprenant)"><mat-icon style="color: blue;">edit</mat-icon></button> &nbsp; | &nbsp; <button type="button" (click)="open(content, apprenant)" href="javascript:void(0);"><mat-icon style="color: red;">delete</mat-icon></button></td>
      </tr>
    </table>    
    </div>
    <div class="upf">
      <h1>Formulaire de modification</h1>
      <form #updateForm="ngForm" (ngSubmit)="updateApprenants(updateForm)">
        <div class="d">
          <input type="text" #nom [(ngModel)]="Apprenant.nom" name="nom" id="nom" class="form-control" placeholder="Nom">&nbsp;&nbsp;
          <input type="text" #prenom [(ngModel)]="Apprenant.prenom" name="prenom" id="name" class="form-control" placeholder="prenom">&nbsp;&nbsp;
        </div>
        <div class="d">
          <input type="email" #email [(ngModel)]="Apprenant.email" name="email" id="email" class="form-control" placeholder="E-mail">&nbsp;&nbsp;
          <input type="telephone" #telephone [(ngModel)]="Apprenant.telephone" name="telephone" id="telephone" class="form-control" placeholder="Téléphone">&nbsp;&nbsp;
        </div>
        <div class="d">
          <input type="number" #age [(ngModel)]="Apprenant.age" name="age" id="age" class="form-control" placeholder="Age">&nbsp;&nbsp;
          <select type="text" #apprenant_status [(ngModel)]="Apprenant.apprenant_status" name="apprenant_status" id="apprenant_status" class="form-control" placeholder="Status">
            <option value="">--Sélectionnez un status--</option>
            <option value="activer">Activé</option>
            <option value="desactiver">Désactivé</option>
          </select>&nbsp;&nbsp;
        </div>
        <div class="d">
          <input type="text" #login [(ngModel)]="Apprenant.login" name="login" id="login" class="form-control" placeholder="Login">&nbsp;&nbsp;
          <input type="telephone" #telephone [(ngModel)]="Apprenant.telephone" name="telephone" id="telephone" class="form-control" placeholder="Téléphone">&nbsp;&nbsp;
        </div>
        <div class="d">
          <input type="submit" value="Modifier" class="btn btn-primary">
        </div>
      </form>
    </div>
    </mat-tab>
    <mat-tab label="Ajouter un apprenant">
        <div class="ajf">
          <h1>Formulaire d'ajout</h1><br>
            <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                <input type="text" #nom (ngModel)="nom" name="nom" id="nom" class="form-control" placeholder="Nom"><br>
                <input type="text" #prenom (ngModel)="prenom" name="prenom" id="prenom" class="form-control" placeholder="Prénom"><br>
                <input type="email" #email (ngModel)="email" name="email" id="email" class="form-control" placeholder="E-mail"><br>
                <input type="tel" #telephone (ngModel)="telephone" name="telephone" id="telephone" class="form-control" placeholder="Téléphone"><br>
                <input type="number" #age (ngModel)="age" name="age" id="age" class="form-control" placeholder="Age"><br>
                <select type="apprenant_status" #apprenant_status (ngModel)="apprenant_status" name="apprenant_status" id="apprenant_status" class="form-control" placeholder="Status">
                  <option value="">--Sélectionnez un status--</option>
                  <option value="activer">Activé</option>
                  <option value="desactiver">Désactivé</option>
                </select><br>
                <input type="text" #login (ngModel)="login" name="login" id="login" class="form-control" placeholder="Login"><br>
                <input type="password" #password (ngModel)="password" name="password" id="password" class="form-control" placeholder="Mot de passe"><br>
                <input type="submit" value="Ajouter" class="btn btn-success">
            </form>
          </div> 
    </mat-tab>
  </mat-tab-group>

  <ng-template #content let-c="close" let-d="dismiss">    
    <div class="modal-header">    
        <h4 class="modal-title" id="modal-basic-title">Confirmation de suppression</h4>    
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">    
            <span aria-hidden="true">×</span>    
        </button>    
    </div>    
    <div class="modal-body">    
        <p>Etes-vous sûr de vouloir supprimer cet apprenant?</p>    
    </div>    
    <div class="modal-footer">    
        <button type="button" class="btn btn-success" (click)="d('Cross click')">Non</button>    
        <button type="button" class="btn btn-danger" (click)="c('yes')">Oui</button>    
    </div>    
</ng-template> 
</app-home>