table,
td {
    border: 1px solid rgb(240, 228, 228);
}

table {
    width: 80%;
}

thead,
tfoot {
    background-color: rgb(53, 123, 226);
    color: #fff;
}

.bt {
    background-color: rgb(53, 123, 226);
    color: #fff;
}